group_task1-1.txt
[{"id":"61770ede.013028","type":"inject","z":"38f1a233.4abe96","name":"開始","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":57,"wires":[["8f932fa5.bd7df8"]]},{"id":"8f932fa5.bd7df8","type":"function","z":"38f1a233.4abe96","name":"初期化","func":"// 総合回数の設定\nmsg.n = 15;\n\n// 座標設定\nmsg.x = 0;\nmsg.y = 0;\n\n// カウント数\nmsg.count = 1;\n\n// 座標を斜めに移動するときの for 文を回す loop 数\nmsg.loop = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":57,"wires":[["a3ce5744.2354e"]]},{"id":"a3ce5744.2354e","type":"function","z":"38f1a233.4abe96","name":"(0, 0) の処理","func":"msg.coordinate = String(msg.count) +  ' (' + String(msg.x) + ',' + String(msg.y) + ')';\nmsg.count++;\nreturn msg;","outputs":1,"noerr":0,"x":273,"y":160,"wires":[["3e7113b.1e5206c","befaf7ce.b835f"]]},{"id":"3e7113b.1e5206c","type":"debug","z":"38f1a233.4abe96","name":"座標出力","active":true,"console":"false","complete":"coordinate","x":483,"y":160,"wires":[]},{"id":"befaf7ce.b835f","type":"switch","z":"38f1a233.4abe96","name":"break 判定","property":"count","propertyType":"msg","rules":[{"t":"lte","v":"n","vt":"msg"}],"checkall":"true","outputs":1,"x":271,"y":276,"wires":[["9201c959.ba14"]]},{"id":"723e0ded.8a24d4","type":"debug","z":"38f1a233.4abe96","name":"座標出力","active":true,"console":"false","complete":"coordinate","x":671,"y":225,"wires":[]},{"id":"9201c959.ba14","type":"function","z":"38f1a233.4abe96","name":"軸上移動","func":"if (msg.loop % 2 == 0) {\n    msg.x++;\n    msg.coordinate = String(msg.count) +  ' (' + String(msg.x) + ',' + String(msg.y) + ')';\n} else {\n    msg.y++;\n    msg.coordinate = String(msg.count) +  ' (' + String(msg.x) + ',' + String(msg.y) + ')';\n}\nmsg.count++;\nmsg.loop++;\nmsg.i= 0;\nreturn msg;","outputs":1,"noerr":0,"x":482.0000305175781,"y":275.5,"wires":[["723e0ded.8a24d4","cce4b711.00868"]]},{"id":"69205d4f.d4cfcc","type":"function","z":"38f1a233.4abe96","name":"斜め移動","func":"if (msg.loop % 2 == 1) {\n    msg.x--;\n    msg.y++;\n} else {\n    msg.y--;\n    msg.x++;\n}\nmsg.coordinate = String(msg.count) +  ' (' + String(msg.x) + ',' + String(msg.y) + ')';\nmsg.count++;\nmsg.i++;\n\nreturn msg;","outputs":1,"noerr":0,"x":441.8833312988281,"y":581.8832702636719,"wires":[["1f9d2690.483ed9","cce4b711.00868"]]},{"id":"cce4b711.00868","type":"switch","z":"38f1a233.4abe96","name":"for文 loop 判定","property":"i","propertyType":"msg","rules":[{"t":"eq","v":"loop","vt":"msg"},{"t":"lt","v":"loop","vt":"msg"}],"checkall":"true","outputs":2,"x":373.8833312988281,"y":439.8833312988281,"wires":[["befaf7ce.b835f"],["401eb936.a9e31"]]},{"id":"401eb936.a9e31","type":"switch","z":"38f1a233.4abe96","name":"break 判定","property":"count","propertyType":"msg","rules":[{"t":"lte","v":"n","vt":"msg"}],"checkall":"true","outputs":1,"x":252.88333129882812,"y":582.8832702636719,"wires":[["69205d4f.d4cfcc"]]},{"id":"1f9d2690.483ed9","type":"debug","z":"38f1a233.4abe96","name":"座標出力","active":true,"console":"false","complete":"coordinate","x":636.8833312988281,"y":580.8832702636719,"wires":[]}]